<h1>Add new Team</h1>
<%= error_messages_for :team %>
<% form_for :team, :url => user_teams_path(current_user) do |f| -%>
<p><label for="name">Team Name</label><br/>
<%= f.text_field :name %></p>

<p><label for="motto">Team Motto</label><br/>
<%= f.text_field :motto %></p>

<p class="description"><%= submit_tag 'Create Team' %><%= link_to 'back', user_path(current_user)%></p>
<% end -%>
