<div id="my_expeditions" class="description">
	<%= link_to image_tag ("add.gif", :border => 0), :controller => :expedition, :action => :new %>
	<%= link_to "Add New Expedition", new_user_expedition_path(current_user) %>

	<% for expedition in current_user.captains_expeditions %>
	<div id="<%= dom_id expedition%>">
		<%= link_to_remote  image_tag ("trash.gif", :border => 0), 
		:url => user_expedition_path(current_user, expedition), 
		:confirm => 'Are you sure you want to delete expedition ' + expedition.name + '?', 
		:method => :delete %>
		<%=expedition.target_date.to_s(:date_time12)%>&nbsp;<%=link_to h(expedition.name), user_expedition_path(current_user, expedition) %>
	</div>
	<% end%>

</div>