<%= error_messages_for 'user' %>

<fieldset>
	<legend>User Details:</legend>
	<% form_for( :user, :url => user_url(@user), :html => {:method => :put }) do |form| %>
	<table>
		<tr>
			<td>
				<label for="user_login">Login:</label>
			</td>
			<td class="description">
				<%=h @user.login %>
			</td>
		</tr>
		<tr>
			<td>    
				<label for="user_password">Password:</label>
			</td>
			<td>
				<%= form.password_field :password, :size => 40 %>
			</td>
		</tr>
		<tr>
			<td>   
				<label for="user_password_confirmation">Confirm:</label>
			</td>
			<td> 
				<%= form.password_field :password_confirmation, :size => 40 %>
			</td>
		</tr>
		<tr>
			<td>   
				<label for="user_first_name">First Name:</label>
			</td>
			<td> 
				<%= form.text_field :first_name, :size => 40 %>
			</td>
		</tr>
		<tr>
			<td>   
				<label for="user_last_name">Last Name:</label>
			</td>
			<td> 
				<%= form.text_field :last_name, :size => 40 %>
			</td>
		</tr>
		<tr>
			<td> 
				<label for="user_email">Email:</label>
			</td>
			<td>
				<%= form.text_field :email, :size => 40 %>
			</td>
		</tr>
		<tr>
			<td>				
			</td>
			<td>    
				<%= submit_tag "Update User Info", :class => "submit" %> <%= link_to "Cancel", user_path(current_user)%>
			</td>
		</tr>
	</table>
	<% end %>  
</fieldset>
