<%= GMap.header %> 

<script src="/javascripts/control.tabs.2.1.1.js"></script>
<h1>Add new Event</h1>
<% form_for(@cleaning_event, :url => cleaning_events_path) do |f| %>
<div id="main">
	<% if flash[:error] %>
		<div class="error_box"><%= flash[:error]%></div>
	<% end %>
		
	<div id="weight" class="event-step">
		<p>
			<label>Weight:</label>
			<%= f.text_field :weight %> 
			<%= error_message_on @cleaning_event, :weight -%>
		</p>
	</div>
	<div id="date" class="event-step">
		<p>
			<label>When:</label>
			<%= calendar_date_select_tag "cleaning_event[cleaning_at]", @cleaning_event.cleaning_at ? @cleaning_event.cleaning_at.to_s(:pretty):nil, :embedded => false, :time => false, :buttons => true %>
			<%= error_message_on @cleaning_event, :cleaning_at -%>	
		</p>
	</div>
	
	<div id="location" class="event-step">
		<p>
			<table>
				<tr>
					<td>		
						<div id="location_name">
							<%=@geo_location.name%>
						</div>

								<%map = GMap.new("map")%>
								<%
								map.control_init(:large_map => true,:map_type => true)							    
								map.set_map_type_init(GMapType::G_HYBRID_MAP)      							
								map.center_zoom_init([@geo_location.lat,@geo_location.lng],8)  	  						
								marker = GMarker.new([@geo_location.lat, @geo_location.lng], :title => @geo_location.name)  
								map.overlay_init marker							
								%>								
								<%= map.div(:width => 400, :height => 400) %>							
								<%= map.to_html %>

						<%= f.hidden_field :geo_location_id, :value => @geo_location.id %>
						<%= error_message_on @cleaning_event, :geo_location_id -%>
					</td>
					<td valign="top">
						<label>
							choose from my recent locations:					
						</label>
						<% @recent_geo_locations.each do |recent_location| %>
						<br>
						<%= link_to_remote recent_location.name, :url => {:action => :select_location, :id => recent_location.id } %>
						<%end%>
					</td>
					<td valign="top">
						<label>
							or search for existing location:
						</label>
						<%= text_field_with_auto_complete :geo_location, :name, { :size => 25 }, :skip_style => false, :after_update_element => 
						"function(element,value) " +
						  "{ " +			
						remote_function(:update=>'full_name',:url=>{:action=>:complete_location},:with=>"'id='+element.value") + "}"
						 -%>
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<%= link_to image_tag ("add.gif", :border => 0), { :controller => "geo_locations", :action => "new" }%>
						<%=link_to "or add a new location", { :controller => "geo_locations", :action => "new" }%>
					</td>
				</tr>
			</table>
		</p>
	</div>
	
		
	<div id="story" class="event-step">
		<label>
			Story:
		</label>			
		<p>			
			<%= f.text_area :blog, :rows => 25, :cols => 80 %>			
		</p>
	</div>
</div>

	
<%=submit_tag "Create"%><%= link_to 'back', cleaning_events_path%>
</div>
<%end%>
