<%= GMap.header %> 

<div id="trashBags">		
	<div id="togetherCollected">
		<font size="3">Together, we have collected</font>
	</div>
	<div id="totalCollected">
		<%= Story.collected-%>&nbsp;lbs
	</div>
</div>				
<div class="clear"></div>

<div id="what-to-do" class="steps">
		1. See the Trash
		2. Pick it Up
		3. Make a Record
</div>

<div class="clear"></div>

<div id='add_story' class="description">
	<%= link_to image_tag ("add.gif", :border => 0), :controller => :stories, :action => :new %>
	<%= link_to "Post New Story", :controller => :stories, :action => :new %>
</div>
<div class="clear"></div>

<%= render :partial => "story", :collection => @stories %>
<%= will_paginate @stories %>
