<%#= GMap.header.html_safe %> 

<div id="trashBags">		
	<div id="togetherCollected">
		Together, we have collected
	</div>
	<div id="totalCollected">
		<%= Story.collected-%>&nbsp;lbs
	</div>
</div>				
<div class="clear"></div>

<div id="what-to-do">
	<div id="step1">
		1. See the Trash?
	</div>
	<div id="step2">
		2. Pick It Up!
	</div>		
	<div id="step3">		
		3. Write about It...
	</div>
</div>


<div id='add_story' class="description">
	<%= link_to image_tag(("add.gif"), :border => 0, :controller => :stories, :action => :new ) -%>
	<%= link_to "Post New Story", :controller => :stories, :action => :new -%>
</div>
<div class="clear"></div>

<%= render :partial => "story", :collection => @stories %>
<%= will_paginate @stories %>
