<div id="<%=dom_id sponsor%>" class="description">
	<%=link_to "Edit", edit_sponsor_path(sponsor)%>
	<label>Name:</label>&nbsp;<%=h sponsor.name%>
	<label>Email:</label>&nbsp;<%=h sponsor.email%>
	<label>URL:</label>&nbsp;<%=h sponsor.url%>
</div>