<div class="sponsor">
	<%if sponsor%>
		<%if current_user && current_user.admin%>
			<%=link_to "Edit", edit_sponsor_path(sponsor)%><br/>	
		<%end%>
		<a href="<%=sponsor.url%>">
			<img src="<%=url_for(:controller => :sponsors , :action => :logo, :id => sponsor.logo)%>" alt="<%=sponsor.name%>" title="<%=sponsor.name%>"/>
		</a>	
	<%end%>
</div>