<div id="<%= dom_id story%>" class="story">
	<%
	@story = story
	%>
	<div class="story-image">
		<%= render :partial => "story_picture", :object => @story.pictures[0] %>					
	</div>

	<div class="story-map">	
		<% if @story.geo_location != nil%>
			<%
			map = GMap.new("map_div_#{@story.id}")
		    map.control_init(:small_map => true,:map_type => true)							    
		    map.set_map_type_init(GMapType::G_HYBRID_MAP)      							
		    geo_location  = @story.geo_location
		    map.center_zoom_init([geo_location.lat,geo_location.lng],8)  	  						
			marker = GMarker.new([geo_location.lat, geo_location.lng], :title => geo_location.name)  
			map.overlay_init marker							
			%>
			<%= map.to_html %>
			<%= map.div(:width => 305, :height => 230) %>
		<%end%>
	</div>

	<div class="story-story">
		<table width=100%>
			<tr>
				<td width=60%>
					<div class="story-location">
						<% if @story.geo_location == nil%>
							no location provided
						<%else%>
							<%=h @story.geo_location.name%>
							<!-- <%=link_to @story.geo_location.name, { :controller => "location_editor", :action => "index", :id => @story.id }, :popup => ['view/edit location window', 'height=700,width=1000,scrollbars=yes']%> -->
						<%end%>
					</div>
				</td>
				<td width=40% align="right">
					<%= link_to_remote image_tag ("trash.gif", :border => 0), 
				                    :url => user_story_path(current_user, @story), 
				                    :confirm => 'Are you sure you want to delete the Cleaning Event', 
				                    :method => :delete %>
				</td>
			</tr>
			<tr>
				<td nowrap>
					<div class="story-weight">
						<b>Weight:</b>
					</div>
					<%= render :partial => "story_weight", :object => @story %>					
				</td>
				<td width=40% align="right">
					<div class="story-date">
						<%= calendar_date_select_tag 'cleaning_at', story.cleaning_at.to_s(:pretty), :embedded => false, :time => false, :buttons => false %>
						<%= observe_field 'cleaning_at', :frequency => 0.5, :url =>{ :action => :update_cleaning_at, :id => story.id }, :with => "'cleaning_at=' + escape(value)" %>
					</div>
				</td>
			</tr>
		</table>
		<div class="story-blog">
			<%= render :partial => "story_blog", :object => @story %>					
		</div>
	</div>
</div>