<%= GMap.header %> 
<table>
	<tr>
		<td>
			<div id='add_story'>
				<%= link_to "Post New Story", :controller => :stories, :action => :new %>
				<%= link_to image_tag ("add.gif", :border => 0), :controller => :stories, :action => :new %>
			</div>
		</td>
	</tr>
</table>

<div id="cleaning-event-first"></div>
<%= render :partial => "story", :collection => @stories %>
<%= will_paginate @stories %>

