<%= GMap.header %> 

<h1>Expedition</h1>
<div class="description">
	<table>
		<tr valign="top">
			<td width=50%>
				<label for="expedition_name">Name:</label>&nbsp;<%=h @expedition.name%><br/>
				<label for="expedition_target_date">Target Date:</label>&nbsp;<%=h @expedition.target_date.to_s(:date_time12)%><br/>

				<%= link_to "Edit Expedition Info", edit_user_expedition_path(current_user, @expedition) %>
				<%= link_to "Back", user_path(current_user) %>
			</td>
			<td>
				<div id="location_name">
					<%=@expedition.geo_location.name%>
				</div>

						<%map = GMap.new("map")%>
						<%
						map.control_init(:large_map => true,:map_type => true)							    
						map.set_map_type_init(GMapType::G_HYBRID_MAP)      							
						map.center_zoom_init([@expedition.geo_location.lat,@expedition.geo_location.lng],8)  	  						
						marker = GMarker.new([@expedition.geo_location.lat, @expedition.geo_location.lng], :title => @expedition.geo_location.name)  
						map.overlay_init marker							
						%>								
						<%= map.div(:width => 400, :height => 400) %>							
						<%= map.to_html %>
				
			</td>
		</tr>
	</table>
</div>
