<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Location Editor</title>
	<%= stylesheet_link_tag "default" %>
	<%= javascript_include_tag :defaults %>	
	<%#= GMap.header.html_safe %>
	<!--[if lt IE 7.]>
		<script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
	<![endif]-->
</head>
<body>
	<div id="container">
		<div id="header">
			<div class="headerText"><img src="/images/new/logo.png"/></div>					
		</div>	
		<p style="color: green"><%= flash[:notice] %></p>

		<%= yield :layout %>

		<div id="footer">
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div>
				© 2010
			</div>
			<div>
				Website Uptime Monitoring By <a href="http://basicstate.com/">http://basicstate.com/</a>
			</div>
			<div>
				Report problems or Abuse to <a href="mailto:webmaster@custommode.com">webmaster@custommode.com</a>
			</div>
			<div>
				<%=link_to "terms", :controller => :home, :action => :terms %>
			</div>
		</div>
	</div>

	<%#do not remove lines below, used by google analytics%>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-3129031-1");
	pageTracker._trackPageview();
	</script>

</body>
</html>
